html {
	height: 100%
}

body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

#container {
	width: 640px;
	height: 400px;
	border: 1px solid gray;
	overflow: hidden;
	position: relative;
	left:0;
	top:0;
	margin-right : 10px;
	float:left;
}

#box{
	position: relative;
	width: 310px;
	top:0;
	right:0;
	margin-left : 10px;
	float: left;
}
